{% load static %}
<!-- Start Header Style -->
        <header id="header" class="htc-header">
            <!-- Start Header Top -->
            <div class="header__top bg-cat-1">
                <div class="container">
                    <div class="row header-wrapper">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="logo">
                                <a href="index.html"><img src="{% static 'images/logo/logo.png' %}" alt="logo"></a>
                            </div>
                            <p style="display: inline-block; font-family: 'Fusion Sans',sans-serif; color: #ffffff; font-size: 32px">Казачье Войско Пресни</p>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="htc__address">
                                <div class="address__icon">
                                    <i class="zmdi zmdi-phone"></i>
                                </div>
                                <div class="address">
                                    <p>Звонки принимаются с 10 до 20</p>
                                    <a href="phone:+1122546665">+7 495 123 45 67</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Top -->
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="ml-header-top transparent--header hidden-xs">
                <div class="htc__mainmenu">
                    <div class="container">
                        <div class="row">
                            <div class="header__wrap">
                                <div class="col-md-10 col-lg-10 col-sm-10">
                                    <div class="mainmenu-content">
                                        <nav class="mainmenu__nav">
                                            <ul class="main__menu">
                                                <li {% if indexActive %} class="active"{% endif %}><a href="{% url 'index' %}">Главная</a></li>
                                                <li {% if newsActive %} class="active"{% endif %}><a href="{% url 'news' %}">Новости</a></li>
                                                <li {% if eventsActive %} class="active"{% endif %}><a href="{% url 'events' %}">Мероприятия</a></li>
                                                <li {% if aboutActive %} class="active"{% endif %}><a href="{% url 'about' %}">О нас</a></li>
                                                <li {% if contactsActive %} class="active"{% endif %}><a href="{% url 'contacts' %}">Контакты</a></li>
                                                <li {% if atamanActive %} class="active"{% endif %}><a href="{% url 'ataman' %}">Атаман</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2">
                                    <div class="htc__toggle__search">
                                        <!-- Start Search Area -->
                                        <div class="cart__search">
                                            <ul class="cart__search__list">
                                                <li class="search search__open"><a href="#"><i class="zmdi zmdi-search"></i></a></li>
                                            </ul>
                                        </div>
                                        <!-- End Search Area -->

                                    </div>
                                    <!-- Start search menu -->
                                    <div class="search__area">
                                        <div class="container" >
                                            <div class="row" >
                                                <div class="col-md-12" >
                                                    <div class="search__inner">
                                                        <form action="#" method="get">
                                                            <input placeholder="Search here... " type="text">
                                                            <button type="submit"></button>
                                                        </form>
                                                        <div class="search__close__btn">
                                                            <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End search menu -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Mainmenu Area -->
            <!-- Mobile-menu-area start -->
            <div class="mobile-menu-area hidden-md hidden-lg hidden-sm">
                <div class="fluid-container mobile-menu-container">
                    <div class="mobile-logo"><a href="index.html"><img src="images/logo/republic.png" alt="Mobile logo"></a></div>
                    <div class="mobile-menu clearfix">
                        <nav id="mobile_dropdown">
                            <ul>
                                               <li><a href="{% url 'index' %}">Главная</a></li>
                                                <li><a href="{% url 'news' %}">Новости</a></li>
                                                <li><a href="{% url 'events' %}">Мероприятия</a></li>
                                                <li><a href="{% url 'about' %}">О нас</a></li>
                                                <li><a href="{% url 'contacts' %}">Контакты</a></li>
                                                <li><a href="{% url 'ataman' %}">Атаман</a></li>
                                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Mobile-menu-area End -->
        </header>
        <!-- End Header Style -->