{% extends 'basic.html' %}
{% load static %}
{% block content %}

   <!-- Start Slider Area -->
        <div class="htc__slider__area">
            <div class="htc__sliders htc__sliders_activation  htc__sliders__navstyle--one">
                <!-- Start slide -->
                <div class="htc__slider slider-bg-1 htc__slider__animation--center text-center" data-black-overlay="0">
                    <div class="slider__container" >
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                    <div class="slider__wrap">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End slide -->
            </div>
        </div>
        <!-- End Slider Area -->
           <!-- Start Running Project Area -->
        <section class="running__project ptb-90 bg-white">
            <div class="container">
                <!-- Start Section Title -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="section__title text-center">
                            <h2 class="title-line">Последние Новости Пресни</h2>

                        </div>
                    </div>
                </div>
                <!-- End Section Title -->
                <!-- Start Project -->
                <div class="row">
                    <div class="running__project__wrap clearfix mt-50 xs-mt-20">
                        {% for item in news %}
                        <!-- Start Single Project Area -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="project">
                                <div class="project__inner">
                                    <div class="htc__hover__fornt">
                                        <img src="{{ item.image.url }}" alt="project images">
                                    </div>
                                    <div class="htc__hover__information">
                                        <div class="htc__hover__action">
                                            <a href="{% url 'newsitem' item.name_slug %}"><i class="zmdi zmdi-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="project__details">
                                    <h4><a href="{% url 'newsitem' item.name_slug %}">{{ item.shortDescription }}</a></h4>
                                    <ul class="time__like__list">
                                        <li><i class="zmdi zmdi-time"></i><span>{{ item.created_at | date }}</span></li>

                                    </ul>

                                </div>
                            </div>
                        </div>
                        <!-- End Single Project Area -->
                        {% endfor %}
                    </div>
                </div>
                <!-- End Project -->
            </div>
        </section>
    <hr/>
        <!-- End Running Project Area -->
        <!-- Start Our Service Area -->
        <section class="htc__service ptb-90 bg-white">
            <div class="container">
                <!-- Start Section Title -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="section__title text-center">
                            <h2 class="title-line">Задачи и Обязанности Казаков</h2>
                            <p class="title-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                </div>
                <!-- End Section Title -->
                <!-- Start Service Area -->
                <div class="row">
                    <div class="service__container clearfix mt-50 sm-mt-20 xs-mt-20">
                        <!-- Start Single Service -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="service text-center">
                                <div class="service__icon">
                                    <i class="zmdi zmdi-city-alt"></i>
                                </div>
                                <div class="service__details">
                                    <h4><a href="#">Охрана Порядка</a></h4>
                                    <p>Казаки охраняют порядок в городе</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Service -->
                        <!-- Start Single Service -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="service text-center">
                                <div class="service__icon">
                                    <i class="zmdi zmdi-home"></i>
                                </div>
                                <div class="service__details">
                                    <h4><a href="#">Организация Молодежных Мероприятий</a></h4>
                                    <p>Зарница и прочие мероприятия - наша заслуга</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Service -->
                        <!-- Start Single Service -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="service text-center">
                                <div class="service__icon">
                                    <i class="zmdi zmdi-book-image"></i>
                                </div>
                                <div class="service__details">
                                    <h4><a href="#">Социальная Помощь Гражданам</a></h4>
                                    <p>Мы помогаем гражданам решать вопросы</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Service -->
                        <!-- Start Single Service -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="service text-center">
                                <div class="service__icon">
                                    <i class="zmdi zmdi-money"></i>
                                </div>
                                <div class="service__details">
                                    <h4><a href="#">Военно-Патриотические игры</a></h4>
                                    <p>Мы проводим игры</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Service -->
                    </div>
                </div>
                <!-- End Service Area -->
            </div>
        </section>
      <hr/>
        <!-- End Our Service Area -->
         <!-- Start Portfolio Area -->
        <section class="htc__portfolio pt-90 bg-white">
            <div class="container">
                <!-- Start Section Title -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="section__title text-center">
                            <h2 class="title-line">Our Gallery</h2>
                            <p class="title-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                </div>
                <!-- End Section Title -->
            </div>
            <div class="container">
                <div class="row">
                    <div class="portfolio__wrap clearfix mt-20">
                        {% for image in images %}
                        <!-- Start Single portfolio Area -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="portfolio">
                                <div class="portfolio__inner">
                                    <div class="htc__hover__fornt">
                                        <img src="{{ image.image.url }}" alt="portfolio images">
                                    </div>
                                    <div class="htc__hover__information">
                                        <div class="htc__hover__action">
                                            <a class="image-popup" href="{{ image.image.url }}"><i class="zmdi zmdi-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single portfolio Area -->
                        {% endfor %}

                    </div>
                </div>
            </div>
        </section>
      <hr/>
        <!-- End Portfolio Area -->



        <!-- Start recent Event Area -->
        <section class="recent__event__area ptb-90 bg-white">
            <div class="container">
                <!-- Start Section Title -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="section__title text-center">
                            <h2 class="title-line">Будущие Мероприятия</h2>
                            <p class="title-desc">Новости о наших грядущих мероприятиях.<br/>О прошедших мероприятиях вы можете узнать <a style="color: black" href="{% url 'events' %}">тут</a></p>
                        </div>
                    </div>
                </div>
                <!-- End Section Title -->
                <div class="row">
                    <div class="recent__event__container clearfix mt-50">
                        <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12">
                            <div class="recent__enent__wrap">
                                {% for event in events %}
                                <!-- Start Single Post -->
                                <div class="recent__event">
                                    <div class="event__time">
                                        <span>{{ event.created_at.day }} {{ event.created_at.month }}</span>
                                        <span class="event--year">{{ event.created_at.year }}</span>
                                    </div>
                                    <div class="event__information">
                                        <h4><a href="{% url 'events' %}">{{ event.name }}</a></h4>
                                        <p>{{ event.shortDescription }}</p>
                                        <div class="event__post__btn">
                                            <p><i class="zmdi zmdi-pin"></i>{{ event.place }}</p>

                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Post -->
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12">
                            <div class="recent__event__thumb md-mt-30 sm-mt-30 xs-mt-30">
                                <img src="{% static 'images/others/1.jpg' %}" alt="post images">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End recent Event Area -->

        {% endblock %}

