{% extends 'basic.html' %}
{% load static %}
{% block content %}

   <!-- Start Slider Area -->
        <div class="htc__slider__area">
            <div class="htc__sliders htc__sliders_activation  htc__sliders__navstyle--one">
                <!-- Start slide -->
                <div class="htc__slider slider-bg-1 htc__slider__animation--center text-center" data-black-overlay="0">
                    <div class="slider__container" >
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                    <div class="slider__wrap">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End slide -->
            </div>
        </div>
        <!-- End Slider Area -->
           <!-- Start Running Project Area -->
        <section class="running__project ptb-90 bg-white">
            <div class="container">
                <!-- Start Section Title -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="section__title text-center">
                            <h2 class="title-line">Our Running Project</h2>
                            <p class="title-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                </div>
                <!-- End Section Title -->
                <!-- Start Project -->
                <div class="row">
                    <div class="running__project__wrap clearfix mt-50 xs-mt-20">
                        <!-- Start Single Project Area -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="project">
                                <div class="project__inner">
                                    <div class="htc__hover__fornt">
                                        <img src="{% static 'images/running/1.jpg' %}" alt="project images">
                                    </div>
                                    <div class="htc__hover__information">
                                        <div class="htc__hover__action">
                                            <a href="#"><i class="zmdi zmdi-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="project__details">
                                    <h4><a href="#">Provide extra support for senior citizen.</a></h4>
                                    <ul class="time__like__list">
                                        <li><i class="zmdi zmdi-time"></i><span>13 feb 2017</span></li>
                                        <li><i class="zmdi zmdi-favorite-outline"></i><span>20,000 People Like</span></li>
                                    </ul>
                                    <div class="project__post">
                                        <div class="project__post__thumb">
                                            <img src="{% static 'images/running/sm-img/1.png' %}" alt="post iamges">
                                        </div>
                                        <div class="project__post__title">
                                            <h4><a href="#">Momen Bhuiyan</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Project Area -->
                        <!-- Start Single Project Area -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="project">
                                <div class="project__inner">
                                    <div class="htc__hover__fornt">
                                        <img src="{% static 'images/running/2.jpg' %}" alt="project images">
                                    </div>
                                    <div class="htc__hover__information">
                                        <div class="htc__hover__action">
                                            <a href="#"><i class="zmdi zmdi-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="project__details">
                                    <h4><a href="#">Provide extra support for senior citizen.</a></h4>
                                    <ul class="time__like__list">
                                        <li><i class="zmdi zmdi-time"></i><span>13 feb 2017</span></li>
                                        <li><i class="zmdi zmdi-favorite-outline"></i><span>20,000 People Like</span></li>
                                    </ul>
                                    <div class="project__post">
                                        <div class="project__post__thumb">
                                            <img src="{% static 'images/running/sm-img/2.png' %}" alt="post iamges">
                                        </div>
                                        <div class="project__post__title">
                                            <h4><a href="#">Momen Bhuiyan</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Project Area -->
                        <!-- Start Single Project Area -->
                        <div class="col-md-4 col-lg-4 hidden-sm col-xs-12">
                            <div class="project">
                                <div class="project__inner">
                                    <div class="htc__hover__fornt">
                                        <img src="{% static 'images/running/3.jpg' %}" alt="project images">
                                    </div>
                                    <div class="htc__hover__information">
                                        <div class="htc__hover__action">
                                            <a href="#"><i class="zmdi zmdi-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="project__details">
                                    <h4><a href="#">Provide extra support for senior citizen.</a></h4>
                                    <ul class="time__like__list">
                                        <li><i class="zmdi zmdi-time"></i><span>13 feb 2017</span></li>
                                        <li><i class="zmdi zmdi-favorite-outline"></i><span>20,000 People Like</span></li>
                                    </ul>
                                    <div class="project__post">
                                        <div class="project__post__thumb">
                                            <img src="{% static 'images/running/sm-img/3.png' %}" alt="post iamges">
                                        </div>
                                        <div class="project__post__title">
                                            <h4><a href="#">Momen Bhuiyan</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Project Area -->
                    </div>
                </div>
                <!-- End Project -->
            </div>
        </section>
        <!-- End Running Project Area -->
        <!-- Start Our Service Area -->
        <section class="htc__service ptb-90 bg-white">
            <div class="container">
                <!-- Start Section Title -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="section__title text-center">
                            <h2 class="title-line">Goverment Services</h2>
                            <p class="title-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                </div>
                <!-- End Section Title -->
                <!-- Start Service Area -->
                <div class="row">
                    <div class="service__container clearfix mt-50 sm-mt-20 xs-mt-20">
                        <!-- Start Single Service -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="service text-center">
                                <div class="service__icon">
                                    <i class="zmdi zmdi-city-alt"></i>
                                </div>
                                <div class="service__details">
                                    <h4><a href="#">Ministry</a></h4>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Service -->
                        <!-- Start Single Service -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="service text-center">
                                <div class="service__icon">
                                    <i class="zmdi zmdi-home"></i>
                                </div>
                                <div class="service__details">
                                    <h4><a href="#">Housing</a></h4>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Service -->
                        <!-- Start Single Service -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="service text-center">
                                <div class="service__icon">
                                    <i class="zmdi zmdi-book-image"></i>
                                </div>
                                <div class="service__details">
                                    <h4><a href="#">Education</a></h4>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Service -->
                        <!-- Start Single Service -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="service text-center">
                                <div class="service__icon">
                                    <i class="zmdi zmdi-money"></i>
                                </div>
                                <div class="service__details">
                                    <h4><a href="#">Economy</a></h4>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Service -->
                    </div>
                </div>
                <!-- End Service Area -->
            </div>
        </section>
        <!-- End Our Service Area -->
         <!-- Start Portfolio Area -->
        <section class="htc__portfolio pt-90 bg-white">
            <div class="container">
                <!-- Start Section Title -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="section__title text-center">
                            <h2 class="title-line">Our Gallery</h2>
                            <p class="title-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                </div>
                <!-- End Section Title -->
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="portfolio__wrap clearfix mt-20">
                        <!-- Start Single portfolio Area -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="portfolio">
                                <div class="portfolio__inner">
                                    <div class="htc__hover__fornt">
                                        <img src="{% static 'images/portfolio/width-variation/1.jpg' %}" alt="portfolio images">
                                    </div>
                                    <div class="htc__hover__information">
                                        <div class="htc__hover__action">
                                            <a class="image-popup" href="{% static 'images/portfolio/width-variation/1.jpg' %}"><i class="zmdi zmdi-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single portfolio Area -->
                        <!-- Start Single portfolio Area -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="portfolio">
                                <div class="portfolio__inner">
                                    <div class="htc__hover__fornt">
                                        <img src="{% static 'images/portfolio/width-variation/1.jpg' %}" alt="portfolio images">
                                    </div>
                                    <div class="htc__hover__information">
                                        <div class="htc__hover__action">
                                            <a class="image-popup" href="{% static 'images/portfolio/width-variation/1.jpg' %}"><i class="zmdi zmdi-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single portfolio Area -->
                        <!-- Start Single portfolio Area -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="portfolio">
                                <div class="portfolio__inner">
                                    <div class="htc__hover__fornt">
                                        <img src="{% static 'images/portfolio/width-variation/1.jpg' %}" alt="portfolio images">
                                    </div>
                                    <div class="htc__hover__information">
                                        <div class="htc__hover__action">
                                            <a class="image-popup" href="{% static 'images/portfolio/width-variation/1.jpg' %}"><i class="zmdi zmdi-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single portfolio Area -->
                        <!-- Start Single portfolio Area -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="portfolio">
                                <div class="portfolio__inner">
                                    <div class="htc__hover__fornt">
                                        <img src="{% static 'images/portfolio/width-variation/1.jpg' %}" alt="portfolio images">
                                    </div>
                                    <div class="htc__hover__information">
                                        <div class="htc__hover__action">
                                            <a class="image-popup" href="{% static 'images/portfolio/width-variation/1.jpg' %}"><i class="zmdi zmdi-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single portfolio Area -->
                        <!-- Start Single portfolio Area -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="portfolio">
                                <div class="portfolio__inner">
                                    <div class="htc__hover__fornt">
                                        <img src="{% static 'images/portfolio/width-variation/1.jpg' %}" alt="portfolio images">
                                    </div>
                                    <div class="htc__hover__information">
                                        <div class="htc__hover__action">
                                            <a class="image-popup" href="{% static 'images/portfolio/width-variation/1.jpg' %}"><i class="zmdi zmdi-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single portfolio Area -->
                        <!-- Start Single portfolio Area -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="portfolio">
                                <div class="portfolio__inner">
                                    <div class="htc__hover__fornt">
                                        <img src="{% static 'images/portfolio/width-variation/1.jpg' %}" alt="portfolio images">
                                    </div>
                                    <div class="htc__hover__information">
                                        <div class="htc__hover__action">
                                            <a class="image-popup" href="{% static 'images/portfolio/width-variation/1.jpg' %}"><i class="zmdi zmdi-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single portfolio Area -->
                        <!-- Start Single portfolio Area -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="portfolio">
                                <div class="portfolio__inner">
                                    <div class="htc__hover__fornt">
                                        <img src="{% static 'images/portfolio/width-variation/1.jpg' %}" alt="portfolio images">
                                    </div>
                                    <div class="htc__hover__information">
                                        <div class="htc__hover__action">
                                            <a class="image-popup" href="{% static 'images/portfolio/width-variation/1.jpg' %}"><i class="zmdi zmdi-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single portfolio Area -->
                        <!-- Start Single portfolio Area -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="portfolio">
                                <div class="portfolio__inner">
                                    <div class="htc__hover__fornt">
                                        <img src="{% static 'images/portfolio/width-variation/1.jpg' %}" alt="portfolio images">
                                    </div>
                                    <div class="htc__hover__information">
                                        <div class="htc__hover__action">
                                            <a class="image-popup" href="{% static 'images/portfolio/width-variation/1.jpg' %}"><i class="zmdi zmdi-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single portfolio Area -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Portfolio Area -->



        <!-- Start recent Event Area -->
        <section class="recent__event__area ptb-90 bg-white">
            <div class="container">
                <!-- Start Section Title -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="section__title text-center">
                            <h2 class="title-line">Our Recent Events</h2>
                            <p class="title-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                </div>
                <!-- End Section Title -->
                <div class="row">
                    <div class="recent__event__container clearfix mt-50">
                        <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12">
                            <div class="recent__enent__wrap">
                                <!-- Start Single Post -->
                                <div class="recent__event">
                                    <div class="event__time">
                                        <span>13 feb</span>
                                        <span class="event--year">2017</span>
                                    </div>
                                    <div class="event__information">
                                        <h4><a href="#">Development project for student & employee</a></h4>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                                        <div class="event__post__btn">
                                            <p><i class="zmdi zmdi-pin"></i>Hall No. 02</p>
                                            <a href="#">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Post -->
                                <!-- Start Single Post -->
                                <div class="recent__event">
                                    <div class="event__time">
                                        <span>13 feb</span>
                                        <span class="event--year">2017</span>
                                    </div>
                                    <div class="event__information">
                                        <h4><a href="#">Development project for student & employee</a></h4>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                                        <div class="event__post__btn">
                                            <p><i class="zmdi zmdi-pin"></i>Hall No. 02</p>
                                            <a href="#">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Post -->
                                <!-- Start Single Post -->
                                <div class="recent__event">
                                    <div class="event__time">
                                        <span>13 feb</span>
                                        <span class="event--year">2017</span>
                                    </div>
                                    <div class="event__information">
                                        <h4><a href="#">Development project for student & employee</a></h4>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                                        <div class="event__post__btn">
                                            <p><i class="zmdi zmdi-pin"></i>Hall No. 02</p>
                                            <a href="#">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Post -->
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12">
                            <div class="recent__event__thumb md-mt-30 sm-mt-30 xs-mt-30">
                                <img src="{% static 'images/others/1.jpg' %}" alt="post images">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End recent Event Area -->

        {% endblock %}

