{% extends 'basic.html' %}
{% load static %}
{% block content %}

            <!-- Breadcamb Area Start -->
            <section class="breadcamb-area bg-breadcamb breadcamb-opacity pt-180 pb-120">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bradcamb-content text-center text-white">
                                <h1>{{ news_item.name }}</h1>
                                <ul>
                                    <li><a href="index.html">главная <span>//</span></a></li>
                                    <li>{{ news_item.name }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Breadcamb Area End -->
            <section class="blog-details-area ptb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="blog-details-left">
                                <div class="blog-part">
                                    <div class="blog-img">
                                        <img src="{{ news_item.image.url }}" alt="">
                                    </div>
                                    <div class="blog-info">
                                        <div class="blog-meta">

                                            <span>
                                                <i class="zmdi zmdi-calendar-note"></i>
                                                {{ news_item.created_at | date }}
                                            </span>

                                        </div>

                                        {{ news_item.description | safe }}
                                      </div>
                                </div>

                            </div>
                                 <div class="blog-right-sidebar-bottom">
                                    <h3 class="leave-comment-text">Tags</h3>
                                    <ul>
                                        <li><a href="#">Photography</a></li>
                                        <li><a href="#">Fashion</a></li>
                                        <li><a href="#">Journal</a></li>
                                        <li><a href="#">Web Design</a></li>
                                        <li class="nn"><a href="#">Web Development</a></li>
                                    </ul>
                                </div>
                        </div>

                    </div>
                </div>
            </section>

{% endblock %}