{% extends 'basic.html' %}
{% load static %}
{% block content %}

            <!-- Breadcamb Area Start -->
            <section class="breadcamb-area bg-breadcamb breadcamb-opacity pt-180 pb-120">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bradcamb-content text-center text-white">
                                <h1>все новости</h1>
                                <ul>
                                    <li><a href="index.html">главная <span>//</span></a></li>
                                    <li>все новости</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- Breadcamb Area End -->
            <!-- Start Blog Area -->
            <section class="blog__area pt-90 pb-60 bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="blog__wrap clearfix xs-mt-20">
                                    <!-- Start Single BLog -->
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                        <div class="blog bg-cat-2 mb-30 blog-res">
                                            <div class="blog__inner">
                                                <div class="htc__hover__fornt">
                                                    <img src="{% static 'images/blog/blog-img/1.jpg' %}" alt="blog images">
                                                </div>
                                                <div class="htc__hover__information">
                                                    <div class="htc__hover__action">
                                                        <a href="{% url 'newsitem' %}"><i class="zmdi zmdi-link"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="blog__details">
                                                <h2><a href="#">Work for rural development</a></h2>
                                                <p><i class="zmdi zmdi-pin"></i>Ipsam Road, Alaska. USA</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single BLog -->
                                    <!-- Start Single BLog -->
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                        <div class="blog bg-cat-2 mb-30">
                                            <div class="blog__inner">
                                                <div class="htc__hover__fornt">
                                                    <img src="{% static 'images/blog/blog-img/1.jpg' %}" alt="blog images">
                                                </div>
                                                <div class="htc__hover__information">
                                                    <div class="htc__hover__action">
                                                        <a href="{% url 'newsitem' %}"><i class="zmdi zmdi-link"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="blog__details">
                                                <h2><a href="#">Work for rural development</a></h2>
                                                <p><i class="zmdi zmdi-pin"></i>Ipsam Road, Alaska. USA</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single BLog -->
                                    <!-- Start Single BLog -->
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                        <div class="blog bg-cat-2 mb-30">
                                            <div class="blog__inner">
                                                <div class="htc__hover__fornt">
                                                    <img src="{% static 'images/blog/blog-img/1.jpg' %}" alt="blog images">
                                                </div>
                                                <div class="htc__hover__information">
                                                    <div class="htc__hover__action">
                                                        <a href="{% url 'newsitem' %}"><i class="zmdi zmdi-link"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="blog__details">
                                                <h2><a href="#">Work for rural development</a></h2>
                                                <p><i class="zmdi zmdi-pin"></i>Ipsam Road, Alaska. USA</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single BLog -->
                                    <!-- Start Single BLog -->
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                        <div class="blog bg-cat-2 mb-30">
                                            <div class="blog__inner">
                                                <div class="htc__hover__fornt">
                                                    <img src="{% static 'images/blog/blog-img/1.jpg' %}" alt="blog images">
                                                </div>
                                                <div class="htc__hover__information">
                                                    <div class="htc__hover__action">
                                                        <a href="{% url 'newsitem' %}"><i class="zmdi zmdi-link"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="blog__details">
                                                <h2><a href="#">Work for rural development</a></h2>
                                                <p><i class="zmdi zmdi-pin"></i>Ipsam Road, Alaska. USA</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single BLog -->
                                    <!-- Start Single BLog -->
                                    <div class="col-md-6 col-lg-6 hidden-sm col-xs-12">
                                        <div class="blog bg-cat-2 mb-30">
                                            <div class="blog__inner">
                                                <div class="htc__hover__fornt">
                                                    <img src="{% static 'images/blog/blog-img/1.jpg' %}" alt="blog images">
                                                </div>
                                                <div class="htc__hover__information">
                                                    <div class="htc__hover__action">
                                                        <a href="{% url 'newsitem' %}"><i class="zmdi zmdi-link"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="blog__details">
                                                <h2><a href="#">Work for rural development</a></h2>
                                                <p><i class="zmdi zmdi-pin"></i>Ipsam Road, Alaska. USA</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single BLog -->
                                    <!-- Start Single BLog -->
                                    <div class="col-md-6 col-lg-6 hidden-sm col-xs-12">
                                        <div class="blog bg-cat-2 mb-30">
                                            <div class="blog__inner">
                                                <div class="htc__hover__fornt">
                                                    <img src="{% static 'images/blog/blog-img/1.jpg' %}" alt="blog images">
                                                </div>
                                                <div class="htc__hover__information">
                                                    <div class="htc__hover__action">
                                                        <a href="{% url 'newsitem' %}"><i class="zmdi zmdi-link"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="blog__details">
                                                <h2><a href="#">Work for rural development</a></h2>
                                                <p><i class="zmdi zmdi-pin"></i>Ipsam Road, Alaska. USA</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single BLog -->
                                </div>
                            </div>
                        </div>
                        <div class="blog-right-sidebar-bottom">
                                    <h3 class="leave-comment-text">Tags</h3>
                                    <ul>
                                        <li><a href="#">Photography</a></li>
                                        <li><a href="#">Fashion</a></li>
                                        <li><a href="#">Journal</a></li>
                                        <li><a href="#">Web Design</a></li>
                                        <li class="nn"><a href="#">Web Development</a></li>
                                    </ul>
                                </div>
                    </div>
                </div>
            </section>
            <!-- End Blog Area -->


{% endblock %}