{% extends 'basic.html' %}
{% load static %}
{% block content %}

            <!-- Breadcamb Area Start -->
            <section class="breadcamb-area bg-breadcamb breadcamb-opacity pt-180 pb-120">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bradcamb-content text-center text-white">
                                <h1>новость отдельно</h1>
                                <ul>
                                    <li><a href="index.html">главная <span>//</span></a></li>
                                    <li>новость отдельно</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Breadcamb Area End -->
            <section class="blog-details-area ptb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="blog-details-left">
                                <div class="blog-part">
                                    <div class="blog-img">
                                        <img src="{% static 'images/blog/1.jpg' %}" alt="">
                                    </div>
                                    <div class="blog-info">
                                        <div class="blog-meta">
                                            <span>
                                                <i class="zmdi zmdi-male-alt"></i>
                                                Rayed Tayeb
                                            </span>
                                            <span>
                                                <i class="zmdi zmdi-calendar-note"></i>
                                                14 October,2016
                                            </span>

                                        </div>
                                        <h3>Lorem Ipsum is simply dummy text of the printing</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dol in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, s in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa  </p>
                                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod consequat. Duis aute irure dol in reprehenderit in voluptate velit</blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dol in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, s in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusant doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta s explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur </p>
                                    </div>
                                </div>

                            </div>
                                 <div class="blog-right-sidebar-bottom">
                                    <h3 class="leave-comment-text">Tags</h3>
                                    <ul>
                                        <li><a href="#">Photography</a></li>
                                        <li><a href="#">Fashion</a></li>
                                        <li><a href="#">Journal</a></li>
                                        <li><a href="#">Web Design</a></li>
                                        <li class="nn"><a href="#">Web Development</a></li>
                                    </ul>
                                </div>
                        </div>

                    </div>
                </div>
            </section>

{% endblock %}